/* ./components/Navbar/style.module.css */

.container {
  height: 10vh;
  @apply z-40 fixed top-0 w-full px-28 flex justify-between items-center;
  color: black; /* Set text color to white */
  background-color: white;
}


.divider {
  height: 10vh;
}

.navItem {
  margin-right: 50px; /* Adjust the margin as needed */
  font-weight: bold; /* Make the text bold */
}

.signInUp {
  margin-right: 10px; /* Adjust the margin as needed */
  font-weight: bold; /* Make the text bold */
  font-size: 15px;
}
