.container {
  height: 90vh;
  @apply flex justify-center items-center;
}

.form {
  @apply p-5 grid grid-cols-2 gap-4;
}


.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 50%; /* Adjust the width as needed */
  max-width: 3000px; /* Add a max-width for responsiveness */
  height: 95%;
}

