.container {
  height: 90vh;
}

.pageBackground {
  background-image: url("https://raw.githubusercontent.com/mrHeinrichh/J.E-Moral-cdn/main/assets/png/logo-main.png");
  background-size: 70%;
  margin-right: 90px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
}
